@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flash {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

html {
  background-color: #fdf6e3;
  color: #586e75;
}

.input {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}
