@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flash {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

html {
  background-color: #fdf6e3;
  color: #586e75;
}

.input {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
}

.keyboard {
  width: 100%;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #eee8d5;
  padding: 5px;
  border-radius: 5px;
}

.keyboard .hg-button span {
  pointer-events: none;
}

/* When using option "useButtonTag" */
.keyboard button.hg-button {
  border-width: 0;
  outline: 0;
  font-size: inherit;
}

.keyboard .hg-button {
  display: inline-block;
  flex-grow: 1;
  cursor: pointer;
}

.keyboard .hg-row {
  display: flex;
}

.keyboard .hg-row:not(:last-child) {
  margin-bottom: 5px;
}

.keyboard .hg-row .hg-button:not(:last-child) {
  margin-right: 5px;
}

.keyboard .hg-row .hg-button-container {
  margin-right: 5px;
}

.keyboard .hg-row > div:last-child {
  margin-right: 0;
}

.keyboard .hg-row .hg-button-container {
  display: flex;
}

.keyboard .hg-button {
  box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.3);
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
  background: #fdf6e3;
  border-bottom: 1px solid #b5b5b5;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard .hg-button.hg-standardBtn {
  width: 20px;
}

.keyboard .tab {
  width: 15px;
}

.keyboard .hg-button.hg-activeButton {
  background-color: #93a1a1;
}

.keyboard.hg-layout-numeric .hg-button {
  width: 33.3%;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.keyboard .hg-button.hg-button-numpadadd {
  height: 85px;
}

.keyboard .hg-button.hg-button-numpadenter {
  height: 85px;
}

.keyboard .hg-button.hg-button-numpad0 {
  width: 105px;
}

.keyboard .hg-button.hg-button-com {
  max-width: 85px;
}

.keyboard .hg-button.hg-standardBtn.hg-button-at {
  max-width: 45px;
}

.keyboard .hg-button.hg-selectedButton {
  background: rgba(5, 25, 70, 0.53);
  color: white;
}

.keyboard .hg-button.hg-standardBtn[data-skbtn=".com"] {
  max-width: 82px;
}

.keyboard .hg-button.hg-standardBtn[data-skbtn="@"] {
  max-width: 60px;
}
